html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  position: relative;
}

.banner {
  background-color: #2b3851;
}

.robot {
  display: flex;
  bottom: 0;
  padding-top: 3.5em;
  padding-bottom: 0;
  width: 100%;
  align-items: center;
  left: 50%;
  top: 50%;
}

.robot-body {
  width: 320px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 90px;
}

.robot-brain {
  width: 46px;
  position: relative;
  bottom: 60px;
  left: 145px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  bottom: 60px;
  right: 470px;

  z-index: 6;
}

.robot-head-left {
  right: 490px;
}

.robot-head-right {
  right: 370px;
}

.robot:hover .robot-head-right {
  left: 520px;
}

.robot:hover .robot-head-left {
  right: 520px;
}
