html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  position: relative;
}

.banner {
  background-color: #2b3851;
  width: 100%;
  position: relative;
  padding-top: 3.8em;
}

.robot {
  bottom: 0;
  padding-bottom: 0;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.robot-body {
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.robot-brain {
  width: 46px;
  position: absolute;
  display: block;
  bottom: 90px;
  left: 445px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  display: block;
  position: absolute;
  bottom: 60px;
  transition: all 200ms linear;
}

.robot-head-left {
  transform: translateX(30%);
}

.robot-head-right {
  transform: translateX(130%);
}

.robot:hover .robot-head-right {
  transform: translateX(154%);
}

.robot:hover .robot-head-left {
  transform: translateX(2%);
}

.robot:hover .robot-brain {
  bottom: 120px;
}
