html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  position: relative;
}

.banner {
  background-color: #2b3851;
}

.robot {
  display: absolute;
  bottom: 0;
  padding-top: 3em;
  padding-bottom: 0;
  width: 100%;
  align-items: center;
  left: 50%;
  top: 50%;
}

.robot-body {
  width: 320px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 100px;
}

.robot-brain {
  width: 46px;
  position: relative;
  bottom: 70px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  bottom: 60px;
}
